.navbar {
  position: fixed;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.nav-item {
  width: 100%;
  text-align: start;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  background-color: #333;
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-link:hover {
  background-color: black;
}

.icon-text {
  display: none;
  color: white;
  font-size: 1rem;
}

.nav-link svg {
  min-width: 4rem;
  width: 20%;
  margin: 0 0.5rem;
  opacity: 0.85;
}

.menu-icon {
  display: none;
  width: 3rem;
  height: 3rem;
}
.menu-icon svg {
  width: 3rem;
  /* width: 20%; */
  /* margin: 0 0.5rem; */
  opacity: 0.85;
}

/* large screens 992px and up */
@media only screen and (min-width: 992px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    transition: width 400ms ease;
  }

  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover .icon-text {
    display: inline;
  }
}

/* medium and small screens < 880px */

@media only screen and (orientation: portrait) and (max-width: 991px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 4rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
    height: 4rem;
  }
}

@media only screen and (orientation: landscape) and (max-width: 991px) {
  .menu-icon {
    display: inline;
  }
  .navbar {
    position: absolute;
    z-index: 1;
    height: 3rem;
    width: 3rem;
    align-items: start;
  }
  .navbar-nav {
    display: none;
  }

  .nav-link svg {
    display: none;
  }

  .navbar:hover {
    min-width: 10rem;
    background-color: #444;
  }
  .navbar:hover .navbar-nav {
    display: inline;
  }
  .navbar:hover .icon-text {
    display: inline;
    padding: 0.5rem;
  }
}

/* @media only screen and (max-width: 640px) {
  /* .navbar,
  .nav-link,
  .nav-link svg {
    height: 3rem;
  }
}  */
