.top-nav {
  justify-content: space-around;
  color: white;
  position: absolute;
  width: 100vw;
  height: 4rem;
}

.top-nav h1 {
  margin: 0;
  font-weight: 300;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

.top-nav svg {
  max-width: 4rem;
  opacity: 0.85;
}

.title-logo {
  display: flex;
  align-items: center;
}

@media only screen and (orientation: landscape) and (max-width: 991px) {
  .top-nav,
  .top-nav svg {
    max-height: 3rem;
  }
}
