.top-nav {
  justify-content: space-between;
  color: white;
  position: absolute;
  width: 100%;
  height: 4rem;
}

.top-nav h1 {
  margin: 0;
  font-weight: 300;
}

.top-nav svg {
  max-width: 4rem;
  opacity: 0.85;
}

.title-logo {
  display: flex;
  align-items: center;
}

.login-signup {
  display: flex;
  align-items: center;
}

.login-signup button {
  box-shadow: 0px 2px 2px #666;
  display: none;
}

/* large screens 635px and up */
@media only screen and (min-width: 635px) {
  .top-nav svg {
    margin-left: 5rem;
  }
  .login-signup {
    margin-right: 5rem;
  }
}

/* extra-small screens < 475px */
@media only screen and (max-width: 475px) {
  .top-nav h1 {
    font-size: 16px;
  }
  .login-signup button {
    font-size: 10px;
    margin: 0;
    padding: 0.5rem;
  }
  .top-nav svg {
    max-width: 3rem;
  }
}
