.saved-stickings-card {
  padding: 1rem;
  width: 75%;
}

.saved-stickings-title {
  margin-bottom: 1rem;
}

.stickings-list {
  list-style: none;
  margin: 0;
  padding: 0rem;
}

.drills-bar {
  display: flex;
}

@media only screen and (max-width: 640px) {
  .saved-stickings-card {
    width: 100%;
  }
}
