.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.menu-card {
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 40vw;
  padding: 1rem 1rem;
}

.sticking, .select-row {
  padding: 0.5rem 0.3rem;
}

.stickings,
.row-input {
  padding: 0.5rem 0.3rem;
}

.rows {
  justify-items: center;
}

.menu-options {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  align-items: center;
}