.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.menu-card {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: 2px solid #333;
  border-radius: 20px;
  min-width: 40vw;
  padding: 1rem;
  margin: 2rem 0rem;
}

.stickings,
.row-input {
  padding: 0.5rem 0.3rem;
  cursor: pointer;
}

.rows {
  justify-items: center;
  text-align: center;
}

.menu-options {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  align-items: center;
}

.legend {
  font-weight: 600;
  padding: 0.3rem;
}