.staff-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0rem;
}

@media screen and (orientation: landscape) and (max-width: 991px) {
  .staff-container {
    padding: 1rem 0rem;
  }
}
