.playback-controls{
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.sound-controls{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.metronome,
.repeat {
  margin: 0 1rem;
  padding: 0.3rem 1.5rem;
  color: black;
  display: flex;
  align-items: center;
}

.met-input,
.rep-input {
  max-width: 4rem;
  border-radius: 5px;
  padding: 0.3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.options-icon {
  max-height: 3rem;
}