:root {
    box-sizing: border-box;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

button{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover{
  background-color: #e4e4e4;
  cursor: pointer;
}

nav{
  display: flex;
  background-color: #333;
}

fieldset {
  border: none;
  display: grid;
  justify-items: start;
  justify-content: center;
  min-height: fit-content;
  min-width: 4vw;
  padding: 0.3rem;
}

legend {
  font-weight: 600;
  text-align: center;
}