:root {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover {
  background-color: #e4e4e4;
  cursor: pointer;
}

nav {
  display: flex;
  background-color: #333;
}

fieldset {
  border: none;
  display: grid;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: 0.5rem 1rem;
}

input {
  cursor: pointer;
  accent-color: #6666ff;
}

input[type='range'] {
  cursor: grabbing;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0 0.2em;
  margin-right: 0.2em;
  font: inherit;
  width: 1.2em;
  height: 1.2em;
  border: 2px solid #333;
  border-radius: 25%;
  transform: translateY(-0.025em);
  display: grid;
  place-content: center;
}

input[type='checkbox']::before {
  display: grid;
  place-content: center;
  content: '';
  width: 0.6em;
  height: 0.6em;
  transform: scale(0);
  transition: 200ms transform ease-in-out;
  box-shadow: inset 1em 1em #6666ff;
  background-color: #6666ff;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}

input[type='checkbox']:hover {
  background-color: #e4e4e4;
}

input[type='checkbox']:disabled {
  border: 2px solid grey;
  background-color: #e4e4e4;
  cursor: not-allowed;
}

input[type='radio'] {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #555;
  vertical-align: -4px;
  outline: none;
}

input[type='radio']::before {
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 6px;
  background-color: #6666ff;
  font-size: 1.2em;
  transform: translate(3px, 3px) scale(0);
  transform-origin: center;
  transition: all 0.3s ease-in;
}

input[type='radio']:checked::before {
  transform: translate(3px, 3px) scale(1);
  transition: all 0.3s cubic-bezier(0.25, 0.25, 0.56, 2);
}

input[type='radio']:hover {
  background-color: #e4e4e4;
}

@media only screen and (max-width: 640px) {
  :root {
    font-size: 14px;
  }
}
@media only screen and (orientation: landscape) and (max-width: 991px) {
  :root {
    font-size: 14px;
  }
}
